.App {
  text-align: center;
  /* overflow: hidden; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 16px;
  background: #2e2d2d;
  color: #f1f1f1;
  /* padding-top: 102px; */
  z-index: 10;
}
.content { 
  padding-top: 502px;
}
.contentBox {
  height: 88vh;
  overflow-y: scroll;
}
.todoRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 95%; */
  padding: 0 2%;
  /* display:inline-block; */
    color:#444;
    /* border:0.5px solid #CCC; */
    
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor:pointer;
    vertical-align:middle;
    /* max-width: 100px; */
    /* padding: 5px; */
    text-align: center;
}
.todoRow:active {
  background:#DDD;
  color:rgb(107, 107, 107);
  box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
}
.row-part-1 {
  display: flex;
}
.heading h4 {
  margin: 0;
}
.divider {
  width: 100%;
}
.ListItem {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-self: center;
  text-align: left;
  margin-left: 2rem;
}
.strikeThrough {
  text-decoration: line-through;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

